<div {{bind-attr class="content::hidden :audioplayer"}}>
	{{#if useWaveSurfer}}
		<div {{bind-attr class="isReady::hidden"}} {{action 'playpause' bubble=false}}>
			{{#if playing}}
				{{icon "pause"}}
			{{else}}
				{{icon "play"}}
			{{/if}}
		</div>
		<div {{bind-attr class=":waveform isReady::hidden"}}></div>
		<div {{bind-attr class="isReady:hidden"}}>{{icon "cog fa-spin fa-2x"}}</div>
		<div {{bind-attr class=":trackname isReady::hidden"}}>
			{{content.filename}}
		</div>
	{{else}}
		<div {{bind-attr class="isReady::hidden"}} {{action 'playpause' bubble=false}}>
			{{#if playing}}
				{{icon "pause"}}
			{{else}}
				{{icon "play"}}
			{{/if}}
		</div>
		<div {{bind-attr class="isReady::hidden"}}>
			<small>{{position}}</small>
		</div>
		<div {{bind-attr class="isReady:hidden"}}>{{icon "cog fa-spin fa-2x"}}</div>
		<div {{bind-attr class=":trackname isReady::hidden"}}>
			{{content.filename}}
		</div>
	{{/if}}
</div>
