<div {{bind-attr class="content::hidden :audioplayer"}}>
	<div {{bind-attr class="isReady::hidden"}} {{action 'playpause' bubble=false}}>
		{{#if playing}}
			{{icon "play"}}
		{{else}}
			{{icon "pause"}}
		{{/if}}
	</div>
	<div {{bind-attr class="isReady::hidden"}}>
		<small>{{fposition}}</small>
	</div>
	<div {{bind-attr class="isReady:hidden"}}>{{icon "cog fa-spin fa-2x"}}</div>
	<div {{bind-attr class=":trackname"}}>
		<marquee behavior="alternate" direction="left" scrollamount="2">
			{{content.filename}}
		</marquee>
	</div>
	<div {{bind-attr class=":progress isReady::hidden"}}>
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" {{bind-attr style="view.progresswidth"}}></div>
	</div>
</div>
