<h1>{{#if content.bandname}}
		{{content.bandname}}
	{{else}}
		Deine Band
	{{/if}}
	{{icon "arrow-circle-right"}}
	<span class="gelb">{{BB.currentEvent.name}}</span>
</h1>
<p>
	Nochmal Datenschutz und Rechtliches: Die Bewerbungen speichern wir maximal bis zum nächsten Rocktreff. Insbesondere werden die von Dir hochgeladenen Medien nicht veröffentlicht, ohne dass darüber eine gesonderte Vereinbarung vorliegt. Die unten auszufüllenden Kontaktdaten dienen ausschließlich der Kontaktaufnahme mit Euch und werden niemals weitergegeben.
</p>

<div class="row delimiter container">
	<h3>{{icon "group"}} 1. Band</h3>
</div>

<div class="row">
	<div class="col-md-4">
		<h4>Allgemeines</h4>
		<div {{bind-attr class=":input-group content.bandname:has-success:has-error"}}>
			<span class="input-group-addon">{{icon "group"}}</span>
			{{input placeholder="Name der Band" value=content.bandname}}
		</div>
		<div class="checkbox">
			<label>
				{{view Ember.Checkbox checkedBinding="content.student"}} ist Schülerband
			</label>
		</div>
		<div {{bind-attr class=":input-group content.style:has-success:has-error"}}>
			<span class="input-group-addon">{{icon "music"}}</span>
			{{input placeholder="Musikrichtung" value=content.style}}
		</div>
		<p>
			Hier ist Platz für Eure Schublade!
		</p>
		<div {{bind-attr class=":input-group content.region:has-success:has-error"}}>
			<span class="input-group-addon">{{icon "globe"}}</span>
			{{view Ember.Select
				content=BB.regions
				valueBinding="content.region"
				optionValuePath="content.id"
				optionLabelPath="content.name"
			}}
		</div>
		<p>
			Aus welchem Bundesland kommt ihr?
		</p>

	</div>
	<div class="col-md-4">
		<h4>{{icon "globe"}} Webseite</h4>
		Ihr habt eine Seite im Netz? Wir wollen sie sehen! Alternativ reicht uns euer Facebook-Profil.
		<p>
		<div class="input-group">
			<span class="input-group-addon">{{icon "home"}}</span>
			{{input value=content.url placeholder="http://…"}}
		</div>
		&nbsp;
		<div class="input-group">
			<span class="input-group-addon">{{icon "facebook"}}</span>
			{{input value=content.fb placeholder="facebook.com/…"}}
		</div>
		</p>
	</div>
	<div {{bind-attr class=":col-md-4 content.letter:has-success:has-error"}}>
		<h4>{{icon "pencil"}} Warum Ihr?</h4>
		<div class="input-group">
			<span class="input-group-addon">{{icon "pencil"}}</span>
			{{view Ember.TextArea value=content.letter placeholder="Hier habt Ihr kreativ die Möglichkeit in Kürze zu beschreiben warum wir uns für Euch entscheiden sollen."}}
		</div>
	</div>
</div>

<div class="row delimiter container">
	<h3>{{icon "file-text"}} 2. Dokumente</h3>
</div>


<div class="row">
	{{#view BB.DocumentDropbox classNames="col-md-6"}}
		<p>
			Wir brauchen von Euch eine aussagekräftige Bandinfo. Diese enthält
			Angaben zur Geschichte der Band. Desweiteren kannst Du hier auch
			Stage- als auch Techrider hochladen. Letzteres ist nicht notwendig
			für eine vollständige Bewerbung macht uns aber viel Freude.
		</p>
		<p>
			<span {{action "selectfile" target=view}} class="btn btn-primary btn-sm">
				<i class="fa fa-upload"></i>
			</span>
		<p>
		<div class="docbox">
			<ul class="list-inline">
			{{#each documents}}
				<li>
					<div class="btn-group">
						<a href="{{unbound url}}" class="btn btn-info btn-sm" target="blank">
							{{icon "file"}} {{filename}}
						</a>
						<button class="btn btn-danger btn-sm" {{action "mediaremove" this}}>{{icon "trash-o"}}</button>
				</li>
			{{/each}}
			</ul>
		</div>
	{{/view}}
</div>


<div class="row delimiter container">
	<h3>{{icon "camera"}} 3. Medien</h3>
</div>


<div class="row">
	<div class="col-md-4">
		<h4>{{icon "camera-retro"}} Bilder</h4>
		<p>
			Wir brauchen ein aussagekräftiges Pressefoto von Euch. Dieses wird ggf. später
			veröffentlicht. Daher sollte das Bild eine Breite oder Höhe von mehr als 1200 Pixeln
			haben.
		</p>
		<p>
			Desweiteren kannst Du Euer Bandlogo hochladen. Dies ist aber <u>nicht</u> notwendig
			um die Bewerbung zu vervollständigen.
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				{{#view BB.PictureDropbox}}
					<h4>
						{{icon "camera"}} Pressefoto
					</h4>
					<div class="viewbox">
						{{#if view.dimensions}}
							{{#unless view.valid}}
								<div class="picture_warning">Bild zu klein {{icon "bolt"}}</div>
							{{/unless}}
						{{/if}}
						<span {{action "selectfile" target=view}} class="btn btn-primary btn-sm">
							<i class="fa fa-upload fa-lg"></i>
						</span>
					</div>
				{{/view}}
			</div>
			<div class="col-md-6">
				{{#view BB.LogoDropbox}}
					<h4>
						{{icon "picture-o"}} Bandlogo
					</h4>
					<div class="viewbox">
						{{#if view.dimensions}}
							{{#unless view.valid}}
								<div class="picture_warning">Bild zu klein {{icon "bolt"}}</div>
							{{/unless}}
						{{/if}}
						<span {{action "selectfile" target=view}} class="btn btn-primary btn-sm">
							<i class="fa fa-upload fa-lg"></i>
						</span>
					</div>
				{{/view}}
			</div>
		</div>
	</div>
</div>


<div class="row">
	{{#view BB.AudioDropbox classNames="col-md-8"}}
	<div class="col-md-4">
		<h4>{{icon "headphones"}} Musik</h4>
		<p>
			Welche <u>drei</u> Songs von Euch beschreiben Eure Musik am besten?
			Uns ist es dabei egal ob die Aufnahmen aus dem Studio, von der
			Bühne oder aus Eurem Proberaum sind.
		</p>
		<p>
			{{audio.length}}/3 Songs
		</p>
	</div>
	<div class="col-md-4 audiobox">
		<ul class="list-inline">
		{{#each audio}}
			<li>
					<span {{action "playaudio" this}}>{{icon "music"}} {{filename}}</span>
					<button class="btn btn-danger btn-sm" {{action "mediaremove" this}}>{{icon "trash-o"}}</button>
			</li>
		{{/each}}
		</ul>
		<span {{action "selectfile" target=view}} class="btn btn-primary btn-sm">
			<i class="fa fa-upload"></i>
		</span>
	</div>
	{{/view}}
	<div class="col-md-4">
		<h4>{{icon "video-camera"}} Videos</h4>
		<p>
			Habt ihr Videos online, die ihr uns zeigen wollt?
			Dann hast Du hier die Möglichkeit Links hinzuzufügen.
		</p>
		<div class="input-group">
			<span class="input-group-addon">{{icon "youtube"}}</span>
			{{input placeholder="Link" valueBinding="content.youtube"}}
		</div>
	</div>
</div>



<div class="row delimiter container">
	<h3>{{icon "bullhorn"}} 4. Kontaktdaten</h3>
</div>


<div class="row">
	<div class="col-md-4">
		<p>
			Um den Kontakt mit Euch zu vereinfachen, brauchen wir noch Kontaktdaten
			des Ansprechpartners.
		</p>
				<div {{bind-attr class=":input-group content.contact:has-success:has-error"}}>
			<span class="input-group-addon">{{icon "user"}}</span>
			{{input value=content.contact placeholder="Ansprechpartner"}}
		</div>
		<div class="checkbox-inline">
			<label>
				{{#input type="checkbox" value=content.management}}Bewerbung via Management{{/input}}
			</label>
		</div>
	</div>
	<div class="col-md-4">
		<div {{bind-attr class=":input-group phonevalid:has-success:has-error"}}>
			<span class="input-group-addon">{{icon "phone"}}</span>
			{{input value=content.phone placeholder="AAAA BBBBBB"}}
		</div>
		&nbsp;
		<div {{bind-attr class=":input-group mailvalid:has-success:has-error"}}>
			<span class="input-group-addon">{{icon "envelope"}}</span>
			{{input value=content.mail type="email" placeholder="name@band.de"}}
		</div>
	</div>
</div>


<div class="row container footer">
	<button {{action "saveBid"}} class="btn btn-primary pull-right">
		{{icon "save"}} Speichern
		<small>(zuletzt gespeicht {{fromNow content.modified}})</small>
	</button>
	<br><br><br>
