	<div class="image teaser" style="background-image:url('./images/home1.jpg')">
	{{#if BB.currentEvent}}
	<div class="container">
		<h1>Bandbewerbung</h1>
		<h3>{{BB.currentEvent.name}} | 26-28. Juni - 2020</h3>
		<p>
			{{icon "arrow-circle-down"}}
		</p>
		<p class="gelb">
			Mehr Informationen
		</p>
	</div>
	{{/if}}
</div>

<div class="jumbo">
	<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>Das Festival</h1>
			<p>
				Der Rocktreff ist seit 1984 eines der angesagtesten Festivals für
				junge und auch schon erfahrene Bands aus Berlin und den anderen
				Bundesländern. Das Festival wird durch Ehrenamtliche organisiert,
				die wie Ihr aus Proberäumen kommen. Traditionell ist der Eintritt
				frei.
			</p>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<ul class="list-unstyled">
				<li>{{icon "group"}} mehr als 15.000 Besucher</li>
				<li>{{icon "music"}} 16 Bands verschiedener Rockgenres</li>
				<li>{{icon "eur"}} nicht-kommerziell</li>
			</ul>
		</div>
	</div>
	</div>
</div>

<div class="image" style="background-image:url('./images/home2.jpg')"></div>

<div class="jumbo">
	<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>Fuer Euch</h1>
			<p>
				Auf dem Rocktreff sammeln Bands häufig die ersten Erfahrungen mit
				einem großen Publikum. Ihr bekommt sämtliche produzierten Medien,
				wie Fotos, Videos und Tonspuren Eures Auftritts zur Verfügung
				gestellt.
			</p>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<ul class="list-unstyled">
				<li>{{icon "certificate"}} professionelle Bühne und Organisation</li>
				<li>{{icon "users"}} Kontake & Netzwerke</li>
				<li>{{icon "cutlery"}} Verpflegung am Spieltag</li>
				<li>{{icon "eur"}} keine Kostenerstattung (Gagen, Benzingeld)</li>
				<li>{{icon "heart"}} Verkauf von Band-Merchandising</li>
			</ul>
		</div>
	</div>
	</div>
</div>

<div class="image" style="background-image:url('./images/home3.jpg')"></div>

<div class="jumbo">
	<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>Euer Profil</h1>
			<p>
				Wir suchen vor allem junge Rockbands aller Genres aus dem Bundesgebiet.
				Dabei bevorzugen wir bei der Auswahl grundsätzlich Bands aus der Region. Besonders freuen wir uns immer über Bewerbungen von Schülerbands.
			</p>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<ul class="list-unstyled">
				<li>{{icon "music"}} regionale Amateurbands</li>
				<li>{{icon "heart"}} Schülerbands</li>
				<li>{{icon "thumbs-o-down"}} keine internationalen Bewerbungen</li>
				<li>{{icon "thumbs-o-down"}} keine Agentur-Bewerbungen</li>
			</ul>
		</div>
	</div>
	</div>
</div>

<div class="image" style="background-image:url('./images/home4.jpg')"></div>


<div class="jumbo" style="height:600px;">
	<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>Bewerbt Euch!</h1>
			<p>
				Ihr habt Lust auf dem Rocktreff zu spielen und habt keine Angst vor
				einem großen Publikum? Dann bewerbt Euch jetzt! Der Bewerbungsschluss
				ist der {{icon "calendar"}} 31.01.2020.
			</p>
		</div>
		<div class="col-xs-6" style="padding-top: 55px;">
			{{#if BB.currentEvent}}
				{{#link-to 'new' class="btn btn-primary btn-lg"}}
					Jetzt zum {{BB.currentEvent.name}} bewerben!
				{{/link-to}}
			{{/if}}
		</div>
	</div>
	<div class="row footer">
		<div class="col-xs-6">
			<div class="heading">Impressum</div>
			Bezirksamt Tempelhof-Schöneberg von Berlin <br>
			Jugendamt - Jug VM - Veranstaltungsmanagement <br>
			Strelitzstraße 15 <br>
			12105 Berlin <br>
			Ggf. Inhaltlich Verantwortlicher gem. § 55 RStV: <br>
			Bezirksstadtrat Oliver Schworck <br>
			<b>Veranstaltungskoordinatorin</b> <br/>
			Beate Burker <br>
			Telefon: +49 30 90277 4804 <br>
			Mobil: +49 170 479 4555 <br>
			Mail: b.burker (at) ba-ts (.) berlin (.) de <br>
		</div>
		<div class="col-xs-6">
			<div class="heading">Veranstalter</div>
			<img src="https://static.rocktreff.de/sponsors/jugendamt.png" alt="Jugendamt">
			<img src="https://static.rocktreff.de/sponsors/cpye.png" alt="CPYE e.V.">
		</div>
	</div>
	</div>
</div>
