<div class="login">
	<div class="container" style="max-width:750px">
		<h1 class="gelb">Anmelden</h1>
		<div class="row">
			<form class="form-horizontal" role="form" {{action 'auth' 'local'  on="sumbit"}}>
				<div class="form-group">
					<div class="col-xs-6">
						{{input value=email type="email" placeholder="Email"}}
					</div>
					<div class="col-xs-6">
						{{input value=password type="password" placeholder="Passwort"}}
						<a href="#">Ich habe mein Passwort vergessen</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-10"></div>
					<div class="col-xs-2">
						<button {{action 'auth' 'local'}} class="btn btn-primary pull-right" data-dismiss="modal">
							{{icon "unlock"}} Anmelden
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12">
				Noch keinen Zugang? {{#link-to 'signup'}}Erstell Dir einen!{{/link-to}} Oder Du meldest Dich
				<button {{action 'auth' 'facebook'}} class="btn btn-facebook btn-xs" data-dismiss="modal">{{icon "facebook"}} mit Facebook</button>
				an.
			</div>
		</div>
	</div>
</div>
