<nav class="navbar navbar-fixed-top navbar-inverse">
	{{render "xhrprogress"}}
	<div class="container">
		<div>
			{{#link-to 'home' classNames="navbar-brand"}}{{/link-to}}
		</div>
		<div>
			{{#if BB.userExists}}
				<ul class="nav navbar-nav">
					{{#if BB.user.isNeither}}
					<li>
						{{#if BB.currentBid}}
							{{#link-to 'bid' BB.currentBid}} Meine Bewerbung{{/link-to}}
						{{else}}
							{{#link-to 'NewBid'}} Meine Bewerbung{{/link-to}}
						{{/if}}
					</li>
					{{else}}
					<li>
						{{#link-to 'bids'}}Bewerbungen{{/link-to}}
					</li>
					{{/if}}
					{{#if BB.user.isAdmin}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration {{icon "caret-down"}}</a>
						<ul class="dropdown-menu">
							<li>{{#link-to 'users'}}{{icon "group"}} Users{{/link-to}}</li>
							{{!-- <li>{{#link-to 'events'}}{{icon "heart"}} Events{{/link-to}}</li>
							<li><a href="#">{{icon "globe"}} Regions</a></li> --}}
						</ul>
					</li>
					{{/if}}
				</ul>
			{{/if}}
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				{{render audioplayer}}
			</li>
			{{#if BB.userExists}}
			<li>
				<a href="#" data-toggle="dropdown">
				{{#if BB.user.picture}}
					<img src="{{unbound BB.user.picture}}" width="24">
				{{else}}
					{{gravatar BB.user.email size="24"}}
				{{/if}}
				{{BB.user.displayName}} {{icon "caret-down"}}
				</a>
				<ul class="dropdown-menu">
					{{#if BB.user.isNeither}}
						{{#if BB.currentBid}}
						<li>{{#link-to 'bid' BB.currentBid}} Meine aktuelle Bewerbung{{/link-to}}
						<li class="divider"></li>
						{{/if}}
					{{/if}}
					<li><a {{action logout}} href="#">{{icon "power-off"}} Abmelden</a></li>
				</ul>
			</li>
			{{else}}
			<li>
				{{#link-to "login"}}{{icon "sign-in"}} Anmelden{{/link-to}}
			</li>
			{{/if}}
		</ul>
	</div>
</nav>
