<div class="row">
	<div class="container users">
		<h3>Users <span class="badge">{{content.length}}</span></h3>
		<p>
			{{input valueBinding="searchstring" placeholder="User suchen"}}
		</p>
		<ul class="list-inline">
		{{#group}}
			{{#each filteredUsers groupedRows=true}}
			<li>
				{{#link-to 'user.edit' this}}{{unbound displayName}}{{/link-to}}
				{{#if isAdmin}} <span class="label label-danger">admin</span> {{/if}}
				{{#if isCrew}} <span class="label label-success">crew</span> {{/if}}
				{{#unless isMe}}
					{{#unless isAdmin}}
					<span {{action promoteUser this}} href="#">{{icon "caret-up"}}</span>
					{{/unless}}
					{{#unless isNeither}}
					<span {{action demoteUser this}} href="#">{{icon "caret-down"}}</span>
					{{/unless}}
				{{/unless}}
				<br>
				<small>
					<span class="label btn-sm">
						{{unbound provider}}
					</span>
				</small>
			</li>
			{{/each}}
		{{/group}}
		</ul>
	</div>
</div>
